<img id="sadFaceImg" src="https://cdn.shopify.com/s/files/1/1061/1924/products/Sad_Face_Emoji_large.png?v=1571606037"
    alt="sad face" />
<h1>500</h1>
<h2>Server Internal Error</h2>
<p>{{error.message}}</p>