<h1>Login Form</h1>
<div class="form">
  <form action='/login' method="POST">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">

    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <input type="submit" value="Login">
  </form>
  <p class="text-center"> Forget your password? <a href="/reset" class="link"> Reset Password</a></p>
  <p class="text-center">Don't have an account <a href="/register" class="link"> Register Here</a> </p>
</div>