<div class="form">
  <form action="/new-password" method="POST">
    <h2 class="text-cente"> New Password</h2>
    <label for="password">New Password</label>
    <input type="password" id="password" placeholder="password" name="password">

    <input type="hidden" name="userId" value="{{userId}}">
    <input type="hidden" name="token" value="{{token}}">
    <div class="text-center">
      <button type="submit" class="btn"> Update Password</button>
    </div>
  </form>
</div>