
/* Navigation Styles*/

.Navigation {
  width: 100%;
  height: 14vh;
  background-color: #234465;
  color: white;
  position: fixed;
  top: 0;
  border-bottom: 2px solid #ffa000;
  border-top: 2px solid #ffa000;
}
