<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/style.css">
  <title>Document</title>
</head>
<body>
  
  <h1>Home Page</h1>
  <img src="/public/img/download.jpg" alt="">
  <form action="/" method="POST">
  

    <input type="text" name="username">
    <br>
    <button> Submit</button>
  </form>
</body>
</html>