@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

.like-btn {
    color: dodgerblue;
}

.dislike-btn,
.delete-btn {
    color: red;
}

.comment-btn {
    color: green;
}

.edit-btn {
    color: goldenrod;
}

.badge {
    border-radius: 50px;
    position: relative;
    transform: translate(-5px, -20px);
}

.hide {
    display: none;
}