<form>
  <input type="text" class="search" name="search" placeholder="Search...">
  <input type="number" name="from" class="difficulty" placeholder="Difficulty from...">
  <span>-</span>
  <input type="number" name="to" class="difficulty" placeholder="Difficulty to...">
  <input type="submit" value="search">
  <a class="btn" href="/export" style=" width:20%">Export Cubes</a>
</form>