<header>
  <ul>
    <li><img class="logo" src="/images/logo.png"></li>
    <li><a href="/">Browse</a></li>
    <li><a href="/create">Add a Cube</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</header>