<h1>Register Form</h1>
<div class="form">
  <form action='/register' method="POST">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">

    <label for="username">Email</label>
    <input type="email" id="email" name="email">

    <label for="password">Password</label>
    <input type="password" id="password" name="password">

    <label for="repeatPassword">Re-Password</label>
    <input type="password" id="repeatPassword" name="password2">
    <input type="submit" value="Register">
  </form>

  <p class="text-center"> Have an account <a href="/login" class="link">Login</a></p>
</div>