<div class="form">
  <form action="/reset" method="POST">
    <h2 class="text-center">Rest Password</h2>
    <input type="email" name="email" id="email" placeholder="email">
    <div class="text-center">
      <button type="submit" class="btn"> Reset</button>
    </div>
  </form>
  <p class="text-center"> Have an account <a href="/login" class="link">Login</a></p>
</div>