
.Main {
  display: inline-block;
  width: 83%;
  height: auto;
  /* border:1px solid blue; */
  margin-bottom: 5%;
}

h1 {
  text-align: center;
  color: #234465;
  text-decoration: underline;
  margin-bottom: 2%;
}

/* Main Styles */