.Input {
  display: inline-block;
  padding: 0.5%;
  width: 83%;
}
textarea {
  width: 40%;
  display: block;
  margin: 0 auto;
  resize: none;
  padding: 2%;
  height: 10vh;
  font-style: italic;
  border-radius: 6px;
  border: 1px solid #234465;
  color: #234465;
}
button {
  background-color: #234465;
  color: white;
  padding: 1%;
  width: 7%;
  border-radius: 6px;
  display: block;
  margin: 0 auto;
  border: none;
  margin-top: 0.5%;
  border: 2px solid white;
  margin-bottom: 2%;
}
button:hover {
  background-color: white;
  border: 2px solid #234465;
  color: #234465;
  font-style: italic;
}
.Input h2 {
  color: #234465;
  text-decoration: underline;
}
