.Login,
.Register {
  width: 83%;
  display: inline-block;
  vertical-align: top;
}
.form-control {
  width: 30%;
  margin: 0 auto;
  padding: 1%;
  text-align: center;
}
label {
  float: left;
  width: 30%;
  text-align: right;
}
input {
  text-align: center;
  border: 1px solid #234465;
  padding: 1%;
  width: 50%;
  border-radius: 6px;
  color: #234465;
}
form button {
  width: auto;
  padding: 2%;
}
